{% set navItems = [
    {
        label: 'Home',
        url: '/'
    },
    {
        label: 'About',
        url: '/about'
    },
    {
        label: 'Lorem',
        url: '/lorem'
    },
    {
        label: 'Contact',
        url: '/contact'
    }
] %}
<!DOCTYPE html>
<html lang="{{ craft.app.language }}">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title>{{ (title is defined ? title ~ ' | ' : '') ~ systemName }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />

    {% if craft.vite.devServerRunning() %}
        <link rel="stylesheet" href="{{ craft.vite.asset("src/css/app.css") }}">
    {% endif %}

    {{ craft.vite.script('src/js/app.js', false) }}
</head>
<body class="ltr">
<main>
    <div class="drawer">
        <input id="my-drawer-3" type="checkbox" class="drawer-toggle" />
        <div class="drawer-content flex flex-col">
            {{ molecule('nav', {
                title: 'Navigation',
                items: navItems
            }) }}
            {{ organism('hero.centered', {
                title: 'Henk',
                content: 'Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.',
                buttons: [
                    {
                        label: 'Login',
                        url: '#login',
                        style: 'btn-primary',
                    },
                    {
                        label: 'Register',
                        url: '#register',
                        style: 'btn-secondary',
                    }
                ],
            }) }}
        </div>
        <div class="drawer-side">
            <label for="my-drawer-3" aria-label="close sidebar" class="drawer-overlay"></label>
            <ul class="menu bg-base-200 min-h-full w-80 p-4">
                {% for item in navItems %}
                    <li>{{ atom('a', item) }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</main>
</body>
</html>
