<!DOCTYPE html>
<html lang="{{ craft.app.language }}">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title>{{ (title is defined ? title ~ ' | ' : '') ~ systemName }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />

    {% if craft.vite.devServerRunning() %}
        <link rel="stylesheet" href="{{ craft.vite.asset("src/css/app.css") }}">
    {% endif %}

    {{ craft.vite.script('src/js/app.js', false) }}
</head>
<body class="ltr">
    <main>
        {{ organism('header', {
            title: 'Henk',
            nav: {
                items: [
                    {
                        label: 'Home',
                        url: '/'
                    },
                    {
                        label: 'About',
                        url: '/about'
                    },
                    {
                        label: 'Lorem',
                        url: '/lorem'
                    },
                    {
                        label: 'Contact',
                        url: '/contact'
                    }
                ],
                buttons: [
                    {
                        label: 'Login',
                        url: '#login',
                    },
                    {
                        label: 'Register',
                        url: '#register',
                        style: 'secondary',
                    }
                ]
            },
        }) }}
    </main>
</body>
</html>
